# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.env
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Streamlit
./secrets.toml


# Cache
.cache/

login.txt
main.txt
admin.txt
dasboarch.txt
database_content.py
schema.txt
admin_panel_old.py


