# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.env
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
.streamlit/

# Cache
.cache/
